.warp {
  width: 80%;
  margin: 0 auto;
}
.hide {
  display: none;
}
.log {
  padding: 10px;
  margin: 10px 0;
  border-radius: 2px;
  word-break: break-all;
  max-height: 100px;
  overflow: hidden;
  background: #444;
  color: #ddd;
  cursor: pointer;
}
.big-log {
  max-height: inherit;
}
.other-message {
}
